<div class="d-flex p-2 justify-content-center">
    <h2>Dolgozók</h2>
</div>

<!-- Button trigger modal -->
<div class="d-flex p-2">
    <button type="button" class="btn btn-primary p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Dolgozó felvétele
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Dolgozó felvétele</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" class="form-control" id="id" [(ngModel)]="id" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Név</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="name">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">Település</label>
                        <input type="text" class="form-control" id="city" [(ngModel)]="city">
                    </div>

                    <div class="mb-3">
                        <label for="salary" class="form-label">Fizetés</label>
                        <input type="text" class="form-control" id="salary" [(ngModel)]="salary">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveEmployee()">Mentés</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex p-2">
<table class="table table-striped table-sm table-dark">

    <thead>
        <tr>
            <th>id</th>
            <th>Név</th>
            <th>Település</th>
            <th>Fizetés</th>
        </tr>
    </thead>

    <tbody>
        @for(emp of empList; track emp) {
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.city}}</td>
            <td>{{emp.salary}}</td>
        </tr>
        }
    </tbody>

</table>
</div>